/* カスタムプロパティの定義 */
:root {
  --primary-color: #3b82f6;
  --primary-hover-color: #2563eb;
  --primary-active-color: #1d4ed8;
  --secondary-hover-color: #d8e7ff7d;
  --secondary-active-color: #d8e7ff;
  --text-color: #23221e;
  --text-hover-color: #03030226;
  --text-active-color: #03030235;
  --cancel-color: #6b7280;
  --cancel-hover-color: #4b5563;
  --cancel-active-color: #374151;
  --danger-color: #ef4444;
  --danger-hover-color: #dc2626;
  --danger-active-color: #b91c1c;
}
